skin.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c12c0e15685ca58",
        "type": "MySQLdatabase",
        "name": "skinxpert_mysql",
        "host": "db",
        "port": "3306",
        "db": "skinXpert",
        "tz": "+01:00",
        "charset": "UTF8"
    },
    {
        "id": "1012ca45e3b1b669",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "2.0.0"
        }
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "LOGIN - Para la base de datos ",
        "info": "",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "b8a0ead1637ea4b7",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/doctor/patients",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "4b9af06fe6d2871a"
            ]
        ]
    },
    {
        "id": "4b9af06fe6d2871a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.topic = `\nSELECT id_patient, name, email, dni \nFROM patients \nWHERE id_doctor = ?\n` ;\nmsg.payload = [msg.req.query.id_doctor];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "60487c38eaaeda68"
            ]
        ]
    },
    {
        "id": "60487c38eaaeda68",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "6bf71425ed6fc4d1"
            ]
        ]
    },
    {
        "id": "6bf71425ed6fc4d1",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "980e17674fcde667",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/doctor/pending",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "d8e4286ca87f6aa0"
            ]
        ]
    },
    {
        "id": "d8e4286ca87f6aa0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Preparar Pendientes (Urgencia + %)",
        "func": "msg.topic = `\nSELECT \n    pr.id_request,\n    pr.urgency,           -- Aquí llega 1, 2 o 3\n    p.name,\n    p.id_patient,\n    i.file_path,\n    sd.disease AS ia_suggestion,\n    d.confidence AS ia_confidence\nFROM photo_requests pr\nJOIN patients p ON pr.id_patient = p.id_patient\nLEFT JOIN images i ON pr.id_request = i.id_request\nLEFT JOIN diagnoses d ON pr.id_request = d.id_request\nLEFT JOIN skin_diseases sd ON d.id_skindiseases = sd.id_skindiseases\nWHERE p.id_doctor = ?\nAND pr.status != 'diagnosticada'\n-- ORDEN CRUCIAL:\n-- 1º Nivel de Urgencia (3, 2, 1)\n-- 2º Porcentaje de riesgo (Confidence) si empatan en nivel\nORDER BY pr.urgency DESC, d.confidence DESC;\n` ;\n\nmsg.payload = [msg.req.query.id_doctor];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "843a7ca03e63f3f1"
            ]
        ]
    },
    {
        "id": "843a7ca03e63f3f1",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "",
        "x": 580,
        "y": 560,
        "wires": [
            [
                "207665b27bf8a7f8"
            ]
        ]
    },
    {
        "id": "207665b27bf8a7f8",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "d87e923c38b0e254",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/doctor/appointments",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "9fc204c65907d22e"
            ]
        ]
    },
    {
        "id": "9fc204c65907d22e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 5",
        "func": "msg.topic = `\nSELECT \n    a.id_appointment,\n    a.date,\n    a.status,\n    p.name AS patient_name\nFROM appointments a\nJOIN patients p ON a.id_patient = p.id_patient\nWHERE a.id_doctor = ?\nORDER BY a.date ASC\n` ;\n\nmsg.payload = [msg.req.query.id_doctor];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "dfa6782946514963"
            ]
        ]
    },
    {
        "id": "dfa6782946514963",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "",
        "x": 640,
        "y": 680,
        "wires": [
            [
                "ff57e9ef8709d623"
            ]
        ]
    },
    {
        "id": "ff57e9ef8709d623",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 680,
        "wires": []
    },
    {
        "id": "5631dba213510e33",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "DOCTORS - base de datos",
        "info": "",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "042a781ea857a9cc",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "PACIENTS - base de datos",
        "info": "",
        "x": 170,
        "y": 780,
        "wires": []
    },
    {
        "id": "7bb9ad204c72d6c8",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/patient/history",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "fefb969c68584b8d"
            ]
        ]
    },
    {
        "id": "fefb969c68584b8d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 6",
        "func": "msg.topic = `\nSELECT \n    d.diagnosis_date,\n    sd.disease,\n    d.doctor_notes,\n    i.file_path\nFROM diagnoses d\nJOIN skin_diseases sd ON d.id_skindiseases = sd.id_skindiseases\nLEFT JOIN photo_requests pr ON d.id_request = pr.id_request\nLEFT JOIN images i ON pr.id_request = i.id_request\nWHERE d.id_patient = ?\nORDER BY d.diagnosis_date DESC\n` ;\nmsg.payload = [msg.req.query.id_patient];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 860,
        "wires": [
            [
                "06d628376f115224"
            ]
        ]
    },
    {
        "id": "06d628376f115224",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "",
        "x": 620,
        "y": 860,
        "wires": [
            [
                "d110b010bc68b2cc"
            ]
        ]
    },
    {
        "id": "d110b010bc68b2cc",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "e59ed9ea10b6f55c",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/patient/appointments",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "0024f9ae07951d53"
            ]
        ]
    },
    {
        "id": "0024f9ae07951d53",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 7",
        "func": "msg.topic = `\nSELECT \n    a.date,\n    a.status,\n    d.name AS doctor_name\nFROM appointments a\nJOIN doctors d ON a.id_doctor = d.id_doctor\nWHERE a.id_patient = ?\nORDER BY a.date DESC\n` ;\nmsg.payload = [msg.req.query.id_patient];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 980,
        "wires": [
            [
                "e0204d8eede6034d"
            ]
        ]
    },
    {
        "id": "e0204d8eede6034d",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "",
        "x": 680,
        "y": 980,
        "wires": [
            [
                "2e54fb88cf5d4c48"
            ]
        ]
    },
    {
        "id": "2e54fb88cf5d4c48",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 980,
        "wires": []
    },
    {
        "id": "e6a0c5f2.1b3b38",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "NUEVO: DOCTOR - ENVIAR INFORME",
        "info": "",
        "x": 200,
        "y": 2020,
        "wires": []
    },
    {
        "id": "http_in_report",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/doctor/send_report",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 2360,
        "wires": [
            [
                "debug_raw_input",
                "func_prepare_simple"
            ]
        ]
    },
    {
        "id": "debug_raw_input",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "1. LLEGA ESTO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 2300,
        "wires": []
    },
    {
        "id": "func_prepare_simple",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Preparar SQL (Forzado)",
        "func": "const d = msg.payload;\n\n// 1. Extraer datos con valores por defecto para seguridad\nconst id_req = d.id_request || d.requestId || 0;\nconst id_doc = d.id_doctor || d.doctorId || 1;\nconst id_pat = d.id_patient || d.patientId || 1;\nconst id_dis = d.id_skindiseases || 1;\nconst conf = d.confidence || 100;\nconst notes = d.doctor_notes || d.notes || \"Diagnostico guardado\";\n// Esto quita la 'T' del formato HTML y asegura que MySQL lo lea como texto plano sin zonas horarias\nconst app_date = d.appointment_date ? d.appointment_date.substring(0, 16).replace('T', ' ') : null;\n\n// 2. Mensaje para el Puerto 1 (Tabla diagnoses)\nconst msgDiagnosis = {\n    ...msg,\n    topic: `INSERT INTO diagnoses \n            (id_request, id_doctor, id_patient, id_skindiseases, confidence, doctor_notes) \n            VALUES (?, ?, ?, ?, ?, ?)`,\n    payload: [id_req, id_doc, id_pat, id_dis, conf, notes],\n    request_id: id_req // Para el siguiente nodo Update Status\n};\n\n// 3. Mensaje para el Puerto 2 (Tabla appointments)\nlet msgAppointment = null;\nif (app_date && app_date !== \"\") {\n    msgAppointment = {\n        topic: `INSERT INTO appointments (id_patient, id_doctor, date, status, comments) \n                VALUES (?, ?, ?, 'pendiente', ?)`,\n        payload: [id_pat, id_doc, app_date, \"Cita programada tras informe médico\"]\n    };\n}\n\n// 4. Retornar los dos mensajes por sus respectivos puertos\nreturn [msgDiagnosis, msgAppointment];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2360,
        "wires": [
            [
                "mysql_insert_diag"
            ],
            [
                "2201348d70eabd60"
            ]
        ]
    },
    {
        "id": "mysql_insert_diag",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Guardar Diagnosis",
        "x": 710,
        "y": 2360,
        "wires": [
            [
                "func_update_req_simple",
                "debug_success"
            ]
        ]
    },
    {
        "id": "debug_success",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "2. GUARDADO OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 2300,
        "wires": []
    },
    {
        "id": "func_update_req_simple",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Update Request",
        "func": "msg.topic = \"UPDATE photo_requests SET status = 'diagnosticada' WHERE id_request = ?\";\nmsg.payload = [msg.request_id];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2360,
        "wires": [
            [
                "mysql_update_status"
            ]
        ]
    },
    {
        "id": "mysql_update_status",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Update Status",
        "x": 1120,
        "y": 2360,
        "wires": [
            [
                "http_response_ok"
            ]
        ]
    },
    {
        "id": "http_response_ok",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 1290,
        "y": 2360,
        "wires": []
    },
    {
        "id": "catch_errors",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "Capturar Errores",
        "scope": null,
        "uncaught": false,
        "x": 980,
        "y": 2440,
        "wires": [
            [
                "debug_error_critico",
                "http_response_error"
            ]
        ]
    },
    {
        "id": "debug_error_critico",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 2440,
        "wires": []
    },
    {
        "id": "http_response_error",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Error",
        "statusCode": "500",
        "headers": {},
        "x": 1190,
        "y": 2480,
        "wires": []
    },
    {
        "id": "2201348d70eabd60",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Guardar citas",
        "x": 700,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "53efef56eb1bc4ff",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "GET Admin Doctors",
        "url": "/admin/doctors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "c6c69cc9da6728ee"
            ]
        ]
    },
    {
        "id": "c6c69cc9da6728ee",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Query Doctors",
        "func": "msg.topic = `\nSELECT d.id_doctor, d.doctor_code, d.name, d.email, c.name AS clinic\nFROM doctors d\nLEFT JOIN clinics c ON d.id_clinic = c.id_clinic\n` ;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "7c0ce728b4fbd786"
            ]
        ]
    },
    {
        "id": "b616b8cca1855feb",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "GET Admin Patients",
        "url": "/admin/patients",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "72cf2dd091bed0ee"
            ]
        ]
    },
    {
        "id": "72cf2dd091bed0ee",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Query Patients",
        "func": "msg.topic = `\nSELECT p.id_patient, p.dni, p.name, p.email, d.name AS doctor\nFROM patients p\nLEFT JOIN doctors d ON p.id_doctor = d.id_doctor\n` ;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "7c0ce728b4fbd786"
            ]
        ]
    },
    {
        "id": "7c0ce728b4fbd786",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "MySQL",
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "aa575a03352c566a"
            ]
        ]
    },
    {
        "id": "aa575a03352c566a",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Admin Response",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f44f5a3b05da6447",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Admin- base de datos",
        "info": "",
        "x": 160,
        "y": 1060,
        "wires": []
    },
    {
        "id": "login_http_in",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "POST /login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "login_prepare_query"
            ]
        ]
    },
    {
        "id": "login_prepare_query",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Preparar Query Login UNION",
        "func": "const { email, password } = msg.payload;\n\nif (!email || !password) {\n    msg.statusCode = 400;\n    msg.payload = { success: false, message: 'Email y password requeridos' };\n    return msg;\n}\n\nmsg.topic = `\nSELECT 'Admin' AS role, id_admin AS id, name, email\nFROM admin\nWHERE email=? AND password=SHA2(?,256)\nUNION\nSELECT 'Patient', id_patient AS id, name, email\nFROM patients\nWHERE email=? AND password=SHA2(?,256)\nUNION\nSELECT 'Doctor', id_doctor AS id, name, email\nFROM doctors\nWHERE email=? AND password=SHA2(?,256)\nLIMIT 1\n` ;\n\nmsg.payload = [email, password, email, password, email, password];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "login_mysql"
            ]
        ]
    },
    {
        "id": "login_mysql",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "MySQL",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "login_process_result"
            ]
        ]
    },
    {
        "id": "login_process_result",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Procesar resultado login",
        "func": "if (msg.payload.length === 0) {\n    msg.statusCode = 401;\n    msg.payload = { success: false, message: 'Credenciales incorrectas' };\n} else {\n    const user = msg.payload[0];\n    msg.payload = { success: true, role: user.role, user: { id: user.id, name: user.name, email: user.email } };\n    msg.statusCode = 200;\n}\nreturn msg;",
        "outputs": 1,
        "x": 880,
        "y": 240,
        "wires": [
            [
                "login_http_response"
            ]
        ]
    },
    {
        "id": "login_http_response",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Respuesta Login",
        "statusCode": "",
        "headers": {},
        "x": 1130,
        "y": 240,
        "wires": []
    },
    {
        "id": "d35f4df5b49a028a",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "DELETE Patient",
        "url": "/admin/patient/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1380,
        "wires": [
            [
                "5d60b3a3e85b8150"
            ]
        ]
    },
    {
        "id": "5d60b3a3e85b8150",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Delete patient SQL",
        "func": "const id = msg.req.params.id;\n\nmsg.topic = `\nDELETE FROM patients\nWHERE id_patient = ?\n` ;\n\nmsg.payload = [id];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1380,
        "wires": [
            [
                "eb79329ffac22ec8"
            ]
        ]
    },
    {
        "id": "2e6fa098832bdbef",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "DELETE Doctor",
        "url": "/admin/doctor/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1480,
        "wires": [
            [
                "94f21896c6bd30ee"
            ]
        ]
    },
    {
        "id": "94f21896c6bd30ee",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Delete doctor SQL",
        "func": "const id = msg.req.params.id;\n\nmsg.topic = `\nDELETE FROM doctors\nWHERE id_doctor = ?\n` ;\n\nmsg.payload = [id];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1480,
        "wires": [
            [
                "eb79329ffac22ec8"
            ]
        ]
    },
    {
        "id": "eb79329ffac22ec8",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "MySQL skinXpert",
        "x": 590,
        "y": 1430,
        "wires": [
            [
                "877e1e326ecfe84a"
            ]
        ]
    },
    {
        "id": "877e1e326ecfe84a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Response",
        "func": "if (msg.payload.affectedRows === 0) {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Not found\" };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.payload = { success: true };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1430,
        "wires": [
            [
                "997c77a050fe2f8a"
            ]
        ]
    },
    {
        "id": "997c77a050fe2f8a",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1020,
        "y": 1430,
        "wires": []
    },
    {
        "id": "7c0248b0969677d3",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "POST /admin/new/doctor",
        "url": "/admin/new/doctor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1600,
        "wires": [
            [
                "3535c2b9a0f6a419"
            ]
        ]
    },
    {
        "id": "3535c2b9a0f6a419",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Prepare Doctor Insert",
        "func": "const { doctor_code, name, email, password, id_clinic } = msg.payload;\n\nif (!doctor_code || !name || !email || !password) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Missing required doctor fields\" };\n    return msg;\n}\n\nmsg.topic = `\nINSERT INTO doctors (\n  doctor_code,\n  name,\n  email,\n  password,\n  id_clinic\n)\nVALUES (?, ?, ?, SHA2(?,256), ?)\n` ;\n\nmsg.payload = [\n    doctor_code,\n    name,\n    email,\n    password,\n    id_clinic || null\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1600,
        "wires": [
            [
                "b036a34633aa7393"
            ]
        ]
    },
    {
        "id": "5d208c4740219453",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "POST /admin/new/patient",
        "url": "/admin/new/patient",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1680,
        "wires": [
            [
                "aab680aaf3618346"
            ]
        ]
    },
    {
        "id": "aab680aaf3618346",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Prepare Patient Insert",
        "func": "const { dni, name, email, password, id_doctor } = msg.payload;\n\nif (!dni || !name || !email || !password) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Missing required patient fields\" };\n    return msg;\n}\n\nmsg.topic = `\nINSERT INTO patients (\n  dni,\n  name,\n  email,\n  password,\n  id_doctor\n)\nVALUES (?, ?, ?, SHA2(?,256), ?)\n` ;\n\nmsg.payload = [\n    dni,\n    name,\n    email,\n    password,\n    id_doctor || null\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1680,
        "wires": [
            [
                "b036a34633aa7393"
            ]
        ]
    },
    {
        "id": "b036a34633aa7393",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "MySQL skinXpert",
        "x": 710,
        "y": 1640,
        "wires": [
            [
                "e4433715fda8fbb1"
            ]
        ]
    },
    {
        "id": "e4433715fda8fbb1",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response OK",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 1640,
        "wires": []
    },
    {
        "id": "get-patient-clean",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "GET Patient by ID",
        "url": "/admin/patient/:id",
        "method": "get",
        "swaggerDoc": "",
        "x": 150,
        "y": 1740,
        "wires": [
            [
                "fn-get-patient-clean"
            ]
        ]
    },
    {
        "id": "fn-get-patient-clean",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Build Patient Query",
        "func": "const id = parseInt(msg.req.params.id);\nif (isNaN(id)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid patient ID' };\n    return msg;\n}\nmsg.topic = 'SELECT * FROM patients WHERE id_patient = ?';\nmsg.payload = [id];\nmsg.cleanFields = true;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1740,
        "wires": [
            [
                "db-patient-select-clean"
            ]
        ]
    },
    {
        "id": "db-patient-select-clean",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Query Patient",
        "x": 550,
        "y": 1740,
        "wires": [
            [
                "fn-patient-clean-fields"
            ]
        ]
    },
    {
        "id": "fn-patient-clean-fields",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Clean Patient Fields",
        "func": "if (msg.payload.length === 0) {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Paciente no encontrado\" };\n    return msg;\n}\nlet patient = msg.payload[0];\nfor (let key in patient) {\n    if (patient[key] === null || patient[key] === undefined) {\n        patient[key] = \"\";\n    }\n}\nmsg.payload = patient;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1740,
        "wires": [
            [
                "http-response-patient"
            ]
        ]
    },
    {
        "id": "http-response-patient",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 1740,
        "wires": []
    },
    {
        "id": "put-patient-clean",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "PUT Patient by ID",
        "url": "/admin/patient/:id",
        "method": "put",
        "swaggerDoc": "",
        "x": 150,
        "y": 1820,
        "wires": [
            [
                "fn-put-patient-clean"
            ]
        ]
    },
    {
        "id": "fn-put-patient-clean",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Build Patient Update",
        "func": "const id = parseInt(msg.req.params.id);\nif (isNaN(id)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid patient ID' };\n    return msg;\n}\nconst body = msg.payload;\nconst name = body.name || \"\";\nconst email = body.email || \"\";\nconst dni = body.dni || \"\";\nconst id_doctor = body.id_doctor || null;\nmsg.topic = 'UPDATE patients SET name = ?, email = ?, dni = ?, id_doctor = ? WHERE id_patient = ?';\nmsg.payload = [name, email, dni, id_doctor, id];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1820,
        "wires": [
            [
                "db-patient-update-clean"
            ]
        ]
    },
    {
        "id": "db-patient-update-clean",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Update Patient",
        "x": 550,
        "y": 1820,
        "wires": [
            [
                "http-response-patient-put-clean"
            ]
        ]
    },
    {
        "id": "http-response-patient-put-clean",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 1820,
        "wires": []
    },
    {
        "id": "get-doctor-clean",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "GET Doctor by ID",
        "url": "/admin/doctor/:id",
        "method": "get",
        "swaggerDoc": "",
        "x": 150,
        "y": 1900,
        "wires": [
            [
                "fn-get-doctor-clean"
            ]
        ]
    },
    {
        "id": "fn-get-doctor-clean",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Build Doctor Query",
        "func": "const id = parseInt(msg.req.params.id);\nif (isNaN(id)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid doctor ID' };\n    return msg;\n}\nmsg.topic = 'SELECT * FROM doctors WHERE id_doctor = ?';\nmsg.payload = [id];\nmsg.cleanFields = true;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1900,
        "wires": [
            [
                "db-doctor-select-clean"
            ]
        ]
    },
    {
        "id": "db-doctor-select-clean",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Query Doctor",
        "x": 550,
        "y": 1900,
        "wires": [
            [
                "fn-doctor-clean-fields"
            ]
        ]
    },
    {
        "id": "fn-doctor-clean-fields",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Clean Doctor Fields",
        "func": "if (msg.payload.length === 0) {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Doctor no encontrado\" };\n    return msg;\n}\nlet doctor = msg.payload[0];\nfor (let key in doctor) {\n    if (doctor[key] === null || doctor[key] === undefined) {\n        doctor[key] = \"\";\n    }\n}\nmsg.payload = doctor;\nreturn msg;",
        "outputs": 1,
        "x": 750,
        "y": 1900,
        "wires": [
            [
                "http-response-doctor"
            ]
        ]
    },
    {
        "id": "http-response-doctor",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 1900,
        "wires": []
    },
    {
        "id": "put-doctor-clean",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "PUT Doctor by ID",
        "url": "/admin/doctor/:id",
        "method": "put",
        "swaggerDoc": "",
        "x": 150,
        "y": 1980,
        "wires": [
            [
                "fn-put-doctor-clean"
            ]
        ]
    },
    {
        "id": "fn-put-doctor-clean",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Build Doctor Update",
        "func": "const id = parseInt(msg.req.params.id);\nif (isNaN(id)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid doctor ID' };\n    return msg;\n}\nconst body = msg.payload;\nconst name = body.name || \"\";\nconst email = body.email || \"\";\nconst id_clinic = body.id_clinic || null;\nmsg.topic = 'UPDATE doctors SET name = ?, email = ?, id_clinic = ? WHERE id_doctor = ?';\nmsg.payload = [name, email, id_clinic, id];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1980,
        "wires": [
            [
                "db-doctor-update-clean"
            ]
        ]
    },
    {
        "id": "db-doctor-update-clean",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Update Doctor",
        "x": 550,
        "y": 1980,
        "wires": [
            [
                "http-response-doctor-put-clean"
            ]
        ]
    },
    {
        "id": "http-response-doctor-put-clean",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 1980,
        "wires": []
    },
    {
        "id": "edit_appointment",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Editar cita",
        "url": "/appointment/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 2620,
        "wires": [
            [
                "update_appointment"
            ]
        ]
    },
    {
        "id": "update_appointment",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Set SQL para actualizar cita",
        "func": "const id = msg.req.params.id;\nconst newDate = msg.req.body.date;\n\nmsg.topic = `UPDATE appointments SET date = ? WHERE id_appointment = ?`;\nmsg.payload = [newDate, id];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2620,
        "wires": [
            [
                "mysql_node_update"
            ]
        ]
    },
    {
        "id": "mysql_node_update",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "MySQL",
        "x": 600,
        "y": 2620,
        "wires": [
            [
                "respond_update"
            ]
        ]
    },
    {
        "id": "respond_update",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Responder PUT",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 2620,
        "wires": []
    },
    {
        "id": "http_delete_appointment",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "DELETE appointment",
        "url": "/appointment/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2740,
        "wires": [
            [
                "fn_check_appointment"
            ]
        ]
    },
    {
        "id": "fn_check_appointment",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Check appointment exists",
        "func": "const id = msg.req.params.id;\n\nmsg.topic = \"SELECT id_appointment FROM appointments WHERE id_appointment = ?\";\nmsg.payload = [id];\n\nmsg.appointmentId = id;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 2740,
        "wires": [
            [
                "mysql_check_appointment"
            ]
        ]
    },
    {
        "id": "mysql_check_appointment",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "MySQL check",
        "x": 640,
        "y": 2740,
        "wires": [
            [
                "fn_decide_delete"
            ]
        ]
    },
    {
        "id": "fn_decide_delete",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "If exists → delete",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Appointment not found\" };\n    return msg;\n}\n\nmsg.topic = \"DELETE FROM appointments WHERE id_appointment = ?\";\nmsg.payload = [msg.appointmentId];\nreturn msg;",
        "outputs": 1,
        "x": 880,
        "y": 2740,
        "wires": [
            [
                "mysql_delete_appointment"
            ]
        ]
    },
    {
        "id": "mysql_delete_appointment",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "MySQL delete",
        "x": 1130,
        "y": 2740,
        "wires": [
            [
                "http_delete_response"
            ]
        ]
    },
    {
        "id": "http_delete_response",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Delete OK",
        "statusCode": "",
        "headers": {},
        "x": 1370,
        "y": 2740,
        "wires": []
    },
    {
        "id": "126a0cd737267399",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Recibir Foto",
        "url": "/upload-case",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 2140,
        "wires": [
            [
                "9a584b9d8cca6530"
            ]
        ]
    },
    {
        "id": "9a584b9d8cca6530",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Preparar Form Data",
        "func": "// El archivo llega con el nombre 'foto' (porque así lo pusiste en formData.append(\"foto\", file))\nconst file = msg.req.files[0]; \nconst patientId = msg.req.body.id_patient;\n\n// Guardamos estos datos en el flujo para usarlos después de que la IA responda\nmsg.id_patient = patientId;\nmsg.filename = `piel_${patientId}_${Date.now()}.jpg`;\n\n// Configuramos la petición para el contenedor skinxpert_ai\nmsg.headers = {\n    \"Content-Type\": \"multipart/form-data\"\n};\n\nmsg.payload = {\n    \"file\": {\n        \"value\": file.buffer,\n        \"options\": {\n            \"filename\": file.originalname,\n            \"contentType\": file.mimetype\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2140,
        "wires": [
            [
                "e6b26f271ebc7303"
            ]
        ]
    },
    {
        "id": "e6b26f271ebc7303",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "IA PREDICT",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://skinxpert_ai:5000/predecir",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 2140,
        "wires": [
            [
                "c117a32f741028a1"
            ]
        ]
    },
    {
        "id": "c117a32f741028a1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Guardar Foto + IA + SQL",
        "func": "// 1. DEFINIR RUTAS Y EXTRAER ARCHIVO\nconst UPLOADS_DIR = '/usr/share/nginx/html/uploads/';\nconst file = msg.req.files[0]; \nconst id_patient = msg.req.body.id_patient || 1;\n\nif (!file) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"No se recibió ninguna imagen\" };\n    return msg;\n}\n\n// 2. GENERAR NOMBRE Y GUARDAR FÍSICAMENTE EN DISCO\nconst uniqueFileName = `piel_${id_patient}_${Date.now()}.jpg`;\nconst fullPath = UPLOADS_DIR + uniqueFileName;\nconst webPath = `/uploads/${uniqueFileName}`;\n\ntry {\n    // Usamos el módulo 'fs' cargado en la pestaña 'libs'\n    fs.writeFileSync(fullPath, file.buffer); \n    node.warn(`Imagen física guardada en: ${fullPath}`);\n} catch (e) {\n    node.error(\"Error escribiendo archivo: \" + e.message);\n    msg.statusCode = 500;\n    msg.payload = { error: \"Error al guardar el archivo en el servidor\" };\n    return msg;\n}\n\n// 3. LÓGICA DE IA Y SEVERIDAD\nvar iaResult = msg.payload || {};\nvar diseaseId = iaResult.id_skindiseases || 1;\nvar probabilidad = iaResult.confianza || 0.0;\n\nvar severityMap = {\n    2: 1.0, 12: 1.0,                   // Cánceres y Carcinomas (Crítico)\n    4: 0.7, 5: 0.6, 11: 0.7, 22: 0.7,  // Bullous, Cellulitis, Lupus, Vasculitis\n    1: 0.3, 3: 0.3, 6: 0.3, 10: 0.2,   // Acne, Dermatitis, Eczema\n    20: 0.3, 23: 0.2, 19: 0.3          // Urticaria, Warts, Tinea\n};\n\nvar gravedad = severityMap[diseaseId] || 0.5;\nvar score = (gravedad * gravedad) * probabilidad;\n\nvar urgenciaFinal = 1; \nif (score >= 0.25) {\n    urgenciaFinal = 3; // ALTO\n} else if (score >= 0.05) {\n    urgenciaFinal = 2; // MEDIO\n}\n\n// 4. PREPARAR CONSULTA SQL\nvar riskPercent = Math.round(probabilidad * 100);\nvar doctorId = Math.floor(Math.random() * 3) + 1;\n\nmsg.topic = `\n    INSERT INTO photo_requests (id_patient, urgency, status)\n    VALUES (${id_patient}, ${urgenciaFinal}, 'pendiente');\n\n    SET @last_id = LAST_INSERT_ID();\n\n    INSERT INTO images (id_request, file_path)\n    VALUES (@last_id, '${webPath}');\n\n` ;\n\n\n// 5. PREPARAR DATOS PARA JAVA\nmsg.javaData = {\n    \"imageCode\": uniqueFileName,\n    \"doctorId\": parseInt(doctorId),\n    \"urgency\": parseInt(urgenciaFinal)\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 810,
        "y": 2140,
        "wires": [
            [
                "ecf174a124515981"
            ]
        ]
    },
    {
        "id": "ecf174a124515981",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Guardar en BD",
        "x": 1020,
        "y": 2140,
        "wires": [
            [
                "c606ac8aa9421b6c"
            ]
        ]
    },
    {
        "id": "c606ac8aa9421b6c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Recuperar datos Java",
        "func": "// Recuperamos los datos que guardamos antes de entrar a la base de datos\nmsg.payload = msg.javaData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2140,
        "wires": [
            [
                "0b87c951244e8fa1"
            ]
        ]
    },
    {
        "id": "0b87c951244e8fa1",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Enviar a operating",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://operating:8082/add-task",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1470,
        "y": 2140,
        "wires": [
            [
                "f446149b7ef44157"
            ]
        ]
    },
    {
        "id": "f446149b7ef44157",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "FIN",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1670,
        "y": 2140,
        "wires": []
    }
]