skin.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: Asegúrate de usar un volumen montado en /data para conservar los flujos",
        "info": "",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "d3c09b79c40da40c",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Login Endpoint",
        "url": "/login",
        "method": "post",
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "0609af0ceba2e7ba"
            ]
        ]
    },
    {
        "id": "0609af0ceba2e7ba",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Prepare Login Query",
        "func": "// Extraer email y password\nconst email = msg.payload?.email?.trim();\nconst password = msg.payload?.password?.trim();\n\nif (!email || !password) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Faltan email o password' };\n    return msg;\n}\n\nmsg.loginEmail = email;\nmsg.loginPassword = password;\n\n// Query inicial para pacientes\nmsg.topic = `SELECT id_patient AS id_user, dni, name, email \n             FROM patients \n             WHERE email='${email}' AND password=SHA2('${password}',256) \n             LIMIT 1`;\nmsg.step = 'check_patient';\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "6f57fcf9fb87d6d8"
            ]
        ]
    },
    {
        "id": "6f57fcf9fb87d6d8",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Check Patients",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "49976fcb4b4f2abc"
            ]
        ]
    },
    {
        "id": "aa25bdec252b2128",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Check Doctors",
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "49976fcb4b4f2abc"
            ]
        ]
    },
    {
        "id": "49976fcb4b4f2abc",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Process Login Result",
        "func": "if (msg.step === 'check_patient') {\n    if (msg.payload.length > 0) {\n        const u = msg.payload[0];\n        msg.payload = {\n            success: true,\n            role: 'Patient',\n            user: { id: u.id_user, dni: u.dni, name: u.name, email: u.email },\n            token: 'fake-token-patient'\n        };\n        return [msg, null];\n    }\n\n    // No encontrado → buscar doctor usando email/password originales\n    msg.step = 'check_doctor';\n    msg.topic = `SELECT id_doctor, doctor_code, name, email, id_clinic \n                 FROM doctors \n                 WHERE email='${msg.loginEmail}' AND password=SHA2('${msg.loginPassword}',256) \n                 LIMIT 1`;\n    return [null, msg];\n}\n\nif (msg.step === 'check_doctor') {\n    if (msg.payload.length > 0) {\n        const d = msg.payload[0];\n        msg.payload = {\n            success: true,\n            role: 'Doctor',\n            user: { id: d.id_doctor, doctor_code: d.doctor_code, name: d.name, email: d.email, clinic_id: d.id_clinic },\n            token: 'fake-token-doctor'\n        };\n        return msg;\n    }\n\n    // No encontrado ni paciente ni doctor\n    msg.statusCode = 401;\n    msg.payload = { error: 'Usuario o contraseña incorrectos' };\n    return msg;\n}",
        "outputs": 2,
        "x": 880,
        "y": 240,
        "wires": [
            [
                "d5c43fb1bc46df34"
            ],
            [
                "aa25bdec252b2128"
            ]
        ]
    },
    {
        "id": "d5c43fb1bc46df34",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
    "id": "9c12c0e15685ca58",
    "type": "MySQLdatabase",
    "name": "skinxpert_mysql",
    "host": "db",
    "port": "3306",
    "db": "skinXpert",
    "user": "root",
    "passwd": "root"
},
    {
        "id": "01ebd27048ea6f9b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql-test   ": "1.0.0"
        }
    }
]