skin.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: Asegúrate de usar un volumen montado en /data para conservar los flujos",
        "info": "",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "d3c09b79c40da40c",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Login Endpoint",
        "url": "/login",
        "method": "post",
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "0609af0ceba2e7ba"
            ]
        ]
    },
    {
        "id": "0609af0ceba2e7ba",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Prepare Login Query",
        "func": "// Extraer email y password\nconst email = msg.payload?.email?.trim();\nconst password = msg.payload?.password?.trim();\n\nif (!email || !password) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Faltan email o password' };\n    return msg;\n}\n\nmsg.loginEmail = email;\nmsg.loginPassword = password;\n\n// Query inicial para pacientes\nmsg.topic = `SELECT id_patient AS id_user, dni, name, email \n             FROM patients \n             WHERE email='${email}' AND password=SHA2('${password}',256) \n             LIMIT 1`;\nmsg.step = 'check_patient';\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "6f57fcf9fb87d6d8"
            ]
        ]
    },
    {
        "id": "6f57fcf9fb87d6d8",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Check Patients",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "49976fcb4b4f2abc"
            ]
        ]
    },
    {
        "id": "aa25bdec252b2128",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "9c12c0e15685ca58",
        "name": "Check Doctors",
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "49976fcb4b4f2abc"
            ]
        ]
    },
    {
        "id": "49976fcb4b4f2abc",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Process Login Result",
        "func": "if (msg.step === 'check_patient') {\n    if (msg.payload.length > 0) {\n        const u = msg.payload[0];\n        msg.payload = {\n            success: true,\n            role: 'Patient',\n            user: { id: u.id_user, dni: u.dni, name: u.name, email: u.email },\n            token: 'fake-token-patient'\n        };\n        return [msg, null];\n    }\n\n    // No encontrado → buscar doctor usando email/password originales\n    msg.step = 'check_doctor';\n    msg.topic = `SELECT id_doctor, doctor_code, name, email, id_clinic \n                 FROM doctors \n                 WHERE email='${msg.loginEmail}' AND password=SHA2('${msg.loginPassword}',256) \n                 LIMIT 1`;\n    return [null, msg];\n}\n\nif (msg.step === 'check_doctor') {\n    if (msg.payload.length > 0) {\n        const d = msg.payload[0];\n        msg.payload = {\n            success: true,\n            role: 'Doctor',\n            user: { id: d.id_doctor, doctor_code: d.doctor_code, name: d.name, email: d.email, clinic_id: d.id_clinic },\n            token: 'fake-token-doctor'\n        };\n        return msg;\n    }\n\n    // No encontrado ni paciente ni doctor\n    msg.statusCode = 401;\n    msg.payload = { error: 'Usuario o contraseña incorrectos' };\n    return msg;\n}",
        "outputs": 2,
        "x": 880,
        "y": 240,
        "wires": [
            [
                "d5c43fb1bc46df34"
            ],
            [
                "aa25bdec252b2128"
            ]
        ]
    },
    {
        "id": "d5c43fb1bc46df34",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "7ebbad7f8b4750a0",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/analyze_image",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "e31f6c10ea47e53c"
            ]
        ]
    },
    {
        "id": "e31f6c10ea47e53c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "// Este nodo confirma que recibimos el Base64 y el token.\nconst base64Image = msg.payload.image_base64;\nconst token = msg.payload.token;\n\nif (!base64Image) {\n    // Si no hay imagen, salta un error y cancela el flujo\n    node.error(\"Error: No se encontró la imagen Base64 en el payload.\");\n    return null;\n}\n\n// 1. **Saltamos la llamada a la IA**\n// 2. Creamos una respuesta SIMULADA, como si la IA hubiera respondido\nmsg.payload = {\n    \"responses\": [\n        {\n            \"labelAnnotations\": [\n                { \"description\": \"Dermatitis\", \"score\": 0.95 },\n                { \"description\": \"Psoriasis\", \"score\": 0.60 },\n                { \"description\": \"Piel sana\", \"score\": 0.05 }\n            ]\n        }\n    ]\n};\n\n// Guardamos datos que podríamos necesitar\nmsg.client_token = token;\n\n// Imprimimos una confirmación de la recepción\nnode.warn(`[SIMULACIÓN] Imagen Base64 recibida. Longitud: ${base64Image.length} caracteres.`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "b67e23f226a00738"
            ]
        ]
    },
    {
        "id": "b67e23f226a00738",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "// 1. Capturamos la respuesta SIMULADA\nconst ia_response = msg.payload;\n\n// 2. IMPRIMIR los datos COMPLETOs en el Debug de Node-RED (¡Tu requisito cumplido!)\nnode.warn(\"--- Conclusiones de la IA SIMULADAS Recibidas (Debug Output) ---\");\nnode.warn(JSON.stringify(ia_response, null, 2));\n\n// 3. Extracción y formateo para el cliente\nconst labels = ia_response.responses && ia_response.responses[0] && ia_response.responses[0].labelAnnotations;\n\nlet finalSummary = \"No se encontraron conclusiones de la IA.\";\n\nif (labels && labels.length > 0) {\n    finalSummary = labels.map(label => ({\n        description: label.description,\n        score: (label.score * 100).toFixed(2) + '%'\n    }));\n}\n\n// 4. Preparamos el payload final para enviar de vuelta al navegador\nmsg.payload = {\n    success: true,\n    message: \"Análisis simulado completado: Se leyó la foto correctamente.\",\n    ai_conclusions: finalSummary\n};\n\n// 5. Establecer el código de estado HTTP 200 (OK)\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "6e9806f88e0586c5",
                "86f3f6dc4090804c"
            ]
        ]
    },
    {
        "id": "6e9806f88e0586c5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "completeMsgObject",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 620,
        "wires": []
    },
    {
        "id": "86f3f6dc4090804c",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 520,
        "wires": []
    },
    {
        "id": "9c12c0e15685ca58",
        "type": "MySQLdatabase",
        "name": "skinxpert_mysql",
        "host": "db",
        "port": "3306",
        "db": "skinXpert",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "def72bcccd53852e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "2.0.0"
        }
    }
]